<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nguyentuan.tracnghiem1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="English time for you"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="English time for you"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slide.ScreenSlideActivity" />
        <activity
            android:name=".slide.TestDoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".verb.VerbActivity"
            android:parentActivityName=".verb.LyThuyetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".verb.LyThuyetActivity" />
        </activity>
        <activity
            android:name=".word.LearningWord"
            android:parentActivityName=".word.WordActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".word.WordActivity" />

        <activity android:name=".word.WordTraining" />
        <activity
            android:name=".verb.LyThuyetActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".dict.DictActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".word.WordActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".word.Word_ScoreActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>